form   
{  
    width: 650px;     
    margin: 20px;  
}  
input   
{  
    float: left;  
    margin-bottom: 10px;  
    background-color: #FFF;  
    color: #000000;  
    height: 25px;
    width: 300px;
    border: 2px solid #000000;
}  
select{
    float: left;  
    margin-bottom: 10px;  
    background-color: #FFF;  
    color: #000000;  
    height: 25px;
    width: 300px;
    border: 3px solid #000000;    
}

input[type=button]  
{      
    height: 20px;
    width: 70px;
    margin-left: 180px;
}  

#limpar{
    margin-left: 70px;  
}

label   
{  
    float: left;  
    clear: left;  
    width: 120px;  
    min-width: 150px;
    text-align: right;  
    padding-right: 10px;  
    color: #000000;  
    float: left;
}  
table {  
    border-collapse: collapse;
    float: right;
}  
th {  
    background-color: orange;  
    border-style: solid;  
    padding: 5px;     
}  
th.vazio {  
    border-style: none;  
    background-color: transparent;    
}  
td {  
    color: #000000;  
    border-style: outset;  
    padding: 5px;  
    font-size: 13px;
}    

td.titulo{
    color: #8B7D6B; 
    border-style: outset;  
    padding: 5px;      
}