#menubv {
width: 200px; 
padding: 0%;
margin-top: 40px;
font: 15px Verdana, sans-serif;
}

#menubv ul {
list-style: none;
margin: 0;
padding: 0;
}

#menubv li {
border-bottom: 1px solid #000000;
margin: 0;
}

#menubv li a {
display: block;
padding: 5px 5px 5px 0.5em;
font-weight:bold;

background-color: #FFFFF0;
color: black;
text-decoration: none;
}

#menubv li a:hover {
border-left: 1px solid #000000;
border-right: 1px solid #8B7D6B;
background-color: #000000;
color: #FFFFFF;
}


/* Fix IE. Hide from IE Mac \*/
* html #menubv ul li { float: left; height: 1%; }
* html #menubv ul li a { height: 1%; }
/* End */
