<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>NewCadastrarQuartos</servlet-name>
        <servlet-class>Controll.NewCadastrarQuartos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCadastrarClientes</servlet-name>
        <servlet-class>Controll.NewCadastrarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCadastroProfissional</servlet-name>
        <servlet-class>Controll.NewCadastroProfissional</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewConsultarFuncionario</servlet-name>
        <servlet-class>Controll.NewConsultarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewConfirmarReserva</servlet-name>
        <servlet-class>Controll.NewConfirmarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewAlterarFuncionario</servlet-name>
        <servlet-class>Controll.NewAlterarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewAlterarQuartos</servlet-name>
        <servlet-class>Controll.NewAlterarQuartos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewDeletarFuncionario</servlet-name>
        <servlet-class>Controll.NewDeletarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPre_reservas</servlet-name>
        <servlet-class>Controll.NewPre_reservas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewBaixaServico</servlet-name>
        <servlet-class>Controll.NewBaixaServico</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewCadastrarQuartos</servlet-name>
        <url-pattern>/NewCadastrarQuartos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCadastrarClientes</servlet-name>
        <url-pattern>/NewCadastrarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCadastroProfissional</servlet-name>
        <url-pattern>/NewCadastroProfissional</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewConsultarFuncionario</servlet-name>
        <url-pattern>/NewConsultarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewConfirmarReserva</servlet-name>
        <url-pattern>/NewConfirmarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewAlterarFuncionario</servlet-name>
        <url-pattern>/NewAlterarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewAlterarQuartos</servlet-name>
        <url-pattern>/NewAlterarQuartos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewDeletarFuncionario</servlet-name>
        <url-pattern>/NewDeletarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPre_reservas</servlet-name>
        <url-pattern>/NewPre_reservas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewBaixaServico</servlet-name>
        <url-pattern>/NewBaixaServico</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
