/*@charset "utf-8";*/
/* CSS Gerencia - Links */
			
.Lin_Ger_001{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration: none;
	color:#0d536c;
	}

.Lin_Ger_001:visited{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration: none;
	color:#0d536c;
	}

.Lin_Ger_001:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration: underline;
	color:#0d536c;
	}
.Lin_Ger_002{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration: none;
	color:#000000;
	}

.Lin_Ger_002:visited{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration: none;
	color:#000000;
	}

.Lin_Ger_002:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration: underline;
	color:#000000;
	}
