/* CSS Gerencia - Estrutura */

/* hack para o IE */	
body{
	margin:0px;
	padding:0px;
	background-repeat:repeat-x;
	overflow: -moz-scrollbars-vertical;
	background-image:url(../capa/imagens/css/bkg_top.gif);
	background-color:#e6e5e5;
	}
	#Est_Ger_001{
		width:1003px;
		height:87px;
		}
		#Est_Ger_001_001{
			width:161px;
			height:87px;
			float:left;
			}
			#Est_Ger_001_001_001{
				width:121px;
				height:41px;
				margin-top:5px;
				margin-left:5px;
				}
		#Est_Ger_001_002{
			width:635px;
			height:87px;
			background-image:url(../capa/imagens/css/bkg_top_cen.gif);
			float:left;
			}
			#Est_Ger_001_002_001{
				width:533px;
				height:37px;
				margin-top:45px;
				margin-left:10px;
				}
		#Est_Ger_001_003{
			width:207px;
			height:87px;
			float:left;
			}
			#Est_Ger_001_003_001{
				width:180px;
				height:38px;
				padding-top:53px;
				margin-left:12px;
				font-size:0px;
				}
				#Est_Ger_001_003_001_001{
					width:45px;
					font-size:0px;
					text-align:center;
					float:left;
					}
	#Est_Ger_002{
		width:1003px;
		background-image:url(../capa/imagens/css/bkg_ger.gif);
		}
		#Est_Ger_002_001{
			width:161px;
			float:left;
			}
			#Est_Ger_002_001_001{
				width:156px;
				padding-top:10px;
				margin-left:5px;
				}
		#Est_Ger_002_002{
			width:635px;
			float:left;
			}
		#Est_Ger_002_003{
			width:202px;
			float:left;
			}
			#Est_Ger_002_003_001{
				width:180px;
				height:22px;
				background-image:url(../capa/imagens/css/bkg_box_top.gif);
				font-size:0px;
				background-repeat:no-repeat;
				margin-top:10px;
				text-align:center;
				margin-left:5px;
				}
				#Est_Ger_002_003_001_001{
					width:180px;
					height:11px;
					font-size:0px;
					text-align:center;
					padding-top:5px;
					}
				
			#Est_Ger_002_003_002{
				width:180px;
				font-size:0px;
				background-image:url(../capa/imagens/css/bkg_box_con.gif);
				margin-left:5px;
				}
				#Est_Ger_002_003_002_001{
					width:170px;
					height:40px;
					font-size:0px;
					padding-top:10px;
					margin-left:10px;
					}
				
			#Est_Ger_002_003_003{
				width:180px;
				height:2px;
				background-image:url(../capa/imagens/css/bkg_box_rod.gif);
				font-size:0px;
				margin-left:5px;
				}				
			
			
